:root {
  --main: #43766C;
  --second: #F8FAE5;
  --third: #B19470;
  --fourth: #76453B;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    width: 18rem;
    color: #eee;
    background-color: var(--second);
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: hidden;
}
#container::before{
    position: absolute;
    right: 0px;
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--main);
    z-index: 2;
}
#container::after{
    position: absolute;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--main);
}
#header{
    position: relative;
    height: 50px;
}
#header>a{
    padding: 5px;
    color: var(--third);
    text-decoration: none;
}
.hide{
    display: none !important;
}